:root {
    --themecolor: #003258;
    --themecolorrgb: 25, 102, 221;
    --headerbg: var(--themecolor, #ed8323);
    --primary-menu-font-size: 15px
}

.animated {
    -webkit-animation-duration: .4s;
    animation-duration: .4s
}

@-webkit-keyframes fadeInUp {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, 30px, 0);
        transform: translate3d(0, 30px, 0)
    }

    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0)
    }
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, 30px, 0);
        transform: translate3d(0, 30px, 0)
    }

    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0)
    }
}

/* .col-sm-6.form-group p {
    position: absolute;
    z-index: 555;
    background: #fff;
    padding: 2%;
    width: 65%;
    top: 7%;
    left: 25%;
} */
form h5 {
    margin-bottom: 5px;
}

@media(max-width:991.98px) {
    .menu-item>.menu-link {
        color: #fff !important;
        width: 48%;
        float: left;
        text-align: center;
        margin: 2px;
        background: #022a48;
    }

    .menu-container{padding: 0;}
}

.menu-container>.menu-item.current>.menu-link,
.menu-container>.menu-item:hover>.menu-link {
    color: #fff !important
}

.svg-separator {
    position: absolute;
    width: 100%;
    padding: 0;
    margin: 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    z-index: 1
}

.svg-separator.top {
    top: -1px;
    bottom: auto
}

.svg-separator.rotate {
    transform: rotate(180deg)
}

.svg-separator svg {
    display: block;
    background: 0 0;
    position: relative;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    width: 100%
}

.svg-separator svg::before {
    content: '';
    width: 100%;
    height: 200px;
    background-color: #fff
}

.section-gradient {
    background: var(--themecolor, #ed8323);
    background: -moz-linear-gradient(top, var(--themecolor, #ed8323) 30%, #FFF 80%);
    background: -webkit-linear-gradient(top, var(--themecolor, #ed8323) 30%, #FFF 80%);
    background: linear-gradient(to bottom, var(--themecolor, #ed8323) 30%, #FFF 80%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0F66DD', endColorstr='#FFF', GradientType=0)
}

.svg-themecolor {
    fill: var(--themecolor, #ed8323)
}

.lightthemecolor {
    background-color: rgba(var(--themecolorrgb, 237, 131, 35), 0.08);
}

#slider .nav .nav-item:first-child {
    border-top-left-radius: .25rem;
}

#slider .nav .nav-item:last-child {
    border-top-right-radius: .25rem;
}

#slider .nav-link {
    border: 1px solid rgba(255, 255, 255, .1);
}

#slider .nav-link:not(.active) {
    color: #fff;
    background: #07275280;
}

#slider .nav-link:hover:not(.active) {
    border-color: #fff;
    color: black;
    background: linear-gradient(180deg, #b5d4ff, #fff);
    text-shadow: none;
}

#slider .form-control,
#slider .custom-select {
    font-size: 15px;
    height: calc(1.5em + 0.75rem + 6px);
    padding-left: 10px;
}

a.btn-link i {
    position: relative;
    top: 1px;
    -webkit-transition: transform .3s ease;
    -o-transition: transform .3s ease;
    transition: transform .3s ease
}

a.btn-link:hover i {
    transform: translateX(4px)
}

.svg-curve {
    position: absolute;
    left: 0;
    bottom: -61px;
}

.row-eq-height [class^=col] {
    display: flex;
    flex-direction: column
}

.row-eq-height [class^=col]>div {
    flex-grow: 1;
    padding: 30px 60px
}

.testi-content {
    position: relative;
    border-left: 3px solid rgba(var(--themecolorrgb, 237, 131, 35), 0.1)
}

.testi-content p {
    font-size: 18px;
    font-weight: 400;
    font-style: normal;
    z-index: 1
}

.device-xs .testimonial .testi-content p,
.testimonial.small .testi-content p {
    font-size: 15px
}

.toggle {
    margin-bottom: 25px;
    padding-bottom: 25px;
    border-bottom: 1px solid #eee
}

.toggle-header {
    align-items: center
}

.toggle-header .toggle-open {
    display: block !important;
    font-size: 20px;
    line-height: 1;
    height: 20px;
    transform: rotate(45deg);
    transition: transform .3s ease
}

.toggle-closed {
    display: none !important
}

.toggle-active .toggle-open {
    display: block !important;
    transform: rotate(90deg);
    color: var(--themecolor, #ed8323)
}

.grid-bg {
    position: absolute;
    left: 50%;
    bottom: 0;
    z-index: -1;
    transform: translateX(-50%)
}

.play-video i {
    position: relative;
    padding-left: 6px;
    width: 60px;
    height: 60px;
    line-height: 61px;
    border-radius: 50%;
    z-index: 1;
    background-color: rgba(255, 255, 255, .85);
    text-align: center;
    font-size: 24px;
    color: #111;
    transition: all .3s ease;
    box-shadow: 0 0 1px 15px rgba(255, 255, 255, .04);
    -webkit-backface-visibility: hidden
}

.play-video:hover i {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1)
}

.feature-box .fbox-icon {
    /* background-color: transparent; */
    /* background-image: url(/images/featured-img/2.jpg); */
    background-repeat: no-repeat;
    /* background-position: center center; */
    /* color: var(--themecolor, #ed8323); */
    background-size: 70px 70px;
    width: 80px;
    height: 80px;
    margin: 0 auto;
}

.feature-box .fbox-icon i {
    background: 0 0;
    color: var(--themecolor, #ed8323);
    line-height: 80px
}

.map-title {
    position: absolute;
    min-width: 79%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: -70px;
}

.map-title .iconlist li:not(:first-child) {
    margin-top: 8px
}

.map-title .iconlist li img {
    position: relative;
    margin-top: -2px;
    width: 16px;
    margin-right: 15px
}

.map-title .iconlist a {
    font-size: 15px;
    color: #888
}

.device-xs .map-title {
    margin-top: 40px
}

.counter-section {
    position: relative;
    border-top: 1px dashed #e5e5e5;
    padding-top: 40px;
    margin-top: 0
}

.counter-dots {
    position: absolute;
    display: block;
    height: 16px;
    width: 16px;
    top: -40px;
    left: 50%;
    margin-left: -10px;
    margin-top: -9px;
    background-color: var(--themecolor, #ed8323);
    border: 4px solid #fff;
    border-radius: 50%;
    -webkit-box-shadow: -1px 0 10px -1px rgba(0, 0, 0, .2);
    box-shadow: -1px 0 10px -1px rgba(0, 0, 0, .2)
}

.device-xs .counter-dots {
    display: none
}

.device-xs .counter-section {
    border-top: 0;
    margin-top: 120px
}

.counter+h5 {
    opacity: .5
}

.section-map .map-image {
    opacity: .2
}

footer .list-unstyled li a,
.copyright-links a {
    color: #e2e2e2;
}

#header.dark .primary-menu {
    border-top-color: rgba(255, 255, 255, .1);
}

#header,
#header.dark:not(.transparent-header),
#header #header-wrap,
#header.dark.sticky-header:not(.transparent-header) #header-wrap:not(.not-dark) {
    /* background-color: #262f96; */
    /* position: fixed; */
    /* width: 100%; */
    /* z-index: 5000; */
}

#header.dark:not(.transparent-header) {
    border-bottom-color: rgba(255, 255, 255, .1);
}

#header.dark:not(.sticky-header) #header-wrap {
    border-top: 1px solid rgba(255, 255, 255, .1);
    z-index: 10;
    left: 0;
}

#header-wrap .header-buttons {
    margin-left: 1rem;
    padding-left: 1.5rem;
    border-left: 2px solid rgba(255, 255, 255, .4)
}

.header-extras li:not(:first-child) {
    border-left: 2px solid rgba(255, 255, 255, .2);
    padding-left: 30px;
    margin-left: 30px
}

.header-extras.flex-column li:not(:first-child) {
    border-left: 0;
    padding-left: 0;
    margin-left: 0
}

.header-extras li .he-text span {
    font-size: 15px
}

.header-extras li i {
    margin-top: 5px !important
}

@media(min-width:992px) {
    .menu-link {
        font-weight: 500 !important;
        text-transform: none;
        letter-spacing: 0;
        font-size: var(--primary-menu-font-size, 0.9375rem);
        transition: color .3s ease
    }

    .menu-container>.menu-item>.menu-link::after {
        opacity: 0;
        content: '';
        position: absolute;
        background: #fff;
        height: 3px;
        bottom: 0;
        left: 50%;
        width: 0;
        transform: translateX(-50%);
        -webkit-transition: all .25s ease;
        -o-transition: all .25s ease;
        transition: all .25s ease
    }

    .menu-container>.menu-item.current>.menu-link::after,
    .menu-container>.menu-item:hover>.menu-link::after {
        opacity: 1;
        width: 100%
    }

    .sub-menu-container {
        border-top: 0 !important;
        width: 280px
    }

    .sub-menu-container .menu-item>.menu-link {
        font-family: poppins, sans-serif;
        font-size: .875rem
    }

    .sub-menu-container .menu-item>.menu-link::after {
        display: none
    }

    .heading-block h3 {
        font-size: 36px
    }

    .heading-block h3+span {
        font-size: 24px;
    }

    .img-about {
        margin-bottom: -35%
    }
}

@media(max-width:991.98px) {

    .toggle-header,
    .toggle-active .toggle-header,
    .toggle-content {
        padding-left: 0
    }

    .toggle-title i.toggle-open {
        right: 0;
    }

    #header-wrap .header-buttons {
        margin-left: .75rem;
        padding-right: 1.2rem;
    }

}

@media only screen and (max-width: 768px) {

    /* For mobile phones: */
    .nav-justified .nav-item,
    .nav-justified>.nav-link {
        flex-basis: auto;
    }

    ul.iconlist.m-0.pe-5 {
        width: 100% !important;
    }
    ul#iconlist.m-0.pe-5 li {
        width: 97%;
    }

    table.table {
        width: 100% !important;
        top: 0px !important;
        }
        div#map {
            /* float: left; */
            /* width: auto; */
            /* height: auto; */
            /* top: -229px !important;
            margin-bottom: -229px !important; */
            top: 0px !important;
            margin-bottom: 0px !important;
        }
        .section {
            padding: 0 !important;
        }


section#slider {
    margin-top: 0px !important;
}
}



div#mvdt {
    /* position: fixed; */
    /* width: 325px; */
    /* height: 511px; */
    text-align: center;
    background: #fff;
    padding: 1%;
    border: solid 1px;
    z-index: 1;
}

li.row.align-items-center {
        margin: 1% auto;
        /* background: #11315538; */
        padding: 2%;
        width: 100%;
        border: solid 1px;
}

li.row.align-items-center {
    /* margin: 1% auto; */
    padding: 1%;
}

.section.section-features.bg-transparent.pb-0.mb-4.clearfix {
    height: 617px;
}


.gmap {
    width: 385;
    height: 220;
    float: left;
}

.citystate {
    text-indent: 50px;
    margin-bottom: 0.1em;
    font-size: .8em;
    height: 4px;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    background: transparent;
    bottom: 0;
    color: transparent;
    cursor: pointer;
    height: auto;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: auto;
}


section#slider {
    margin-top: 96px;
}


.push {
    height: 137px;
    width: 100%;
}

.text-black-50 {
    --bs-text-opacity: 1;
    color: #000;
    margin: 0;
}

.text-black {
    --bs-text-opacity: 1;
    color: #000;
}

.text-blue {
    --bs-text-opacity: 1;
    color: #2179f7;
    background: #ffffff90;
    letter-spacing: 6px;
}

.btn-color {
    color: #f8f9fa !important;
    background-color: #2179f7 !important;
}

.formscontent {
    background: rgb(11 53 105 / 62%);
    box-shadow: 0 0 53px #fff;
    height: auto;
    margin-bottom: 9rem;
}


ul.header-extras.d-none.d-sm-flex.mx-auto.mx-md-0.mb-4.mb-md-0 {
    padding-left: 1px;
    /* float: left; */
}

ul#nwfd {
    width: 20%;
    display: inline-block;
    overflow: hidden;
}

div#nwfd {
    width: 20%;
    position: fixed;
    background: #fff;
    right: 0%;
    top: 136px;
    padding: 1%;
    height: auto;
    overflow-y: scroll;
}

.justify-content-right {
    justify-content: right !important;
    /* padding: 100px 0 160px; */
}



:root {
    --bg-color: #ffffff;
    --border-color: #1E90FF;
}

.news-box {
    border: 1px solid var(--border-color);
    background-color: var(--bg-color);
    border-radius: 4px;
    padding: 10px;
    position: fixed;
    right: 0px;
    top: 90px;
    padding: 1%;
    height: auto;
    z-index: 2;
    width: 100px;
}

.news-box .news-box-header {
    color: var(--border-color);
    font-size: 20px;
    font-weight: bold;
}

.news-box .news-box-header .fa {
    margin-right: 2px;
}

.news-box .news-box-contents {
    color: var(--border-color);
    height: 0px;
    margin: 0;
    margin-left: 28px;
    overflow: hidden;
    transition: all 1s ease;
}

.news-box .news-box-contents label {
    color: #000;
}

.news-box .news-box-footer {
    color: var(--border-color);
    margin-top: -28px;
    font-size: 20px;
    margin-right: 5px;
    font-weight: bold;
}

.news-box:hover {
    width: 400px;
    height: auto;
    margin-top: 10px;
}

.news-box:hover .news-box-contents {
    height: auto;
    width: 400px;
    margin-top: 10px;
}

.news-box:hover .news-box-footer {
    margin-top: 0;
    width: 400px;

}


ul#zpcd li {
    float: left;
    margin: 1.2% 1%;
    width: 31%;
}

ul#zpcd ul {
    display: inline-block;
    width: 79%;
    margin: auto;
}

ul#zpcd {
    list-style: none;
    width: auto;
    margin: auto;
}

h2 {
    margin-top: 20px !important;
}

body {
    background-color: #f1f6ff;
}

.post-slide {
    background: #fff;
    margin: 20px 15px 20px;
    border-radius: 15px;
    padding-top: 1px;
    box-shadow: 0px 14px 22px -9px #bbcbd8;
}

.post-slide .post-img {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    margin: -12px 15px 8px 15px;
    margin-left: -10px;
}

.post-slide .post-img img {
    width: 100%;
    height: auto;
    transform: scale(1, 1);
    transition: transform 0.2s linear;
}

.post-slide:hover .post-img img {
    transform: scale(1.1, 1.1);
}

.post-slide .over-layer {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    background: linear-gradient(-45deg, rgba(6, 190, 244, 0.75) 0%, rgba(45, 112, 253, 0.6) 100%);
    transition: all 0.50s linear;
}

.post-slide:hover .over-layer {
    opacity: 1;
    text-decoration: none;
}

.post-slide .over-layer i {
    position: relative;
    top: 45%;
    text-align: center;
    display: block;
    color: #fff;
    font-size: 25px;
}

.post-slide .post-content {
    background: #fff;
    padding: 2px 20px 40px;
    border-radius: 15px;
}

.post-slide .post-title a {
    font-size: 15px;
    font-weight: bold;
    color: #333;
    display: inline-block;
    text-transform: uppercase;
    transition: all 0.3s ease 0s;
}

.post-slide .post-title a:hover {
    text-decoration: none;
    color: #3498db;
}

.post-slide .post-description {
    line-height: 24px;
    color: #808080;
    margin-bottom: 25px;
}

.post-slide .post-date {
    color: #a9a9a9;
    font-size: 14px;
}

.post-slide .post-date i {
    font-size: 20px;
    margin-right: 8px;
    color: #CFDACE;
}

.post-slide .read-more {
    padding: 7px 20px;
    float: right;
    font-size: 12px;
    background: #2196F3;
    color: #ffffff;
    box-shadow: 0px 10px 20px -10px #1376c5;
    border-radius: 25px;
    text-transform: uppercase;
}

.post-slide .read-more:hover {
    background: #3498db;
    text-decoration: none;
    color: #fff;
}

.owl-controls .owl-buttons {
    text-align: center;
    margin-top: 20px;
}

.owl-controls .owl-buttons .owl-prev {
    background: #fff;
    position: absolute;
    top: -13%;
    left: 15px;
    padding: 0 18px 0 15px;
    border-radius: 50px;
    box-shadow: 3px 14px 25px -10px #92b4d0;
    transition: background 0.5s ease 0s;
}

.owl-controls .owl-buttons .owl-next {
    background: #fff;
    position: absolute;
    top: -13%;
    right: 15px;
    padding: 0 15px 0 18px;
    border-radius: 50px;
    box-shadow: -3px 14px 25px -10px #92b4d0;
    transition: background 0.5s ease 0s;
}

.owl-controls .owl-buttons .owl-prev:after,
.owl-controls .owl-buttons .owl-next:after {
    content: "\f104";
    font-family: FontAwesome;
    color: #333;
    font-size: 30px;
}

.owl-controls .owl-buttons .owl-next:after {
    content: "\f105";
}

@media only screen and (max-width:1280px) {
    .post-slide .post-content {
        padding: 0px 15px 25px 15px;
    }
}


a#nwsrm {
    float: right;
}


ul.iconlist.m-0.pe-5 {
    width: 23%;
    float: left;
    text-align: center;
}

ul.iconlist.m-0.pe-5 li {
    padding: 1%;
    margin: 7% 3%;
    background: rgba(255, 255, 255, .5);
    box-shadow: 0 0 8px #2179f7;
}


div#ifrms {margin-bottom: 1rem;margin-top: 1rem;}


div#svctxt {
    text-align: left;
    /* border: 3px solid #113155; */
    margin-bottom: 80px;
    font-size: 1em;
    width: 80%;
    margin: auto;
}


table.table {
    width: 25%;
    background: #ffffffd6;
    position: relative;
    z-index: 1;
    left: 1%;
    top: 57px;
}

div#map {
    /* float: left; */
    /* width: auto; */
    /* height: auto; */
    top: -193px;
    margin-bottom: -193px;
}

div#tablecol {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    justify-content: space-between;
}

section#maptxt {width: 100%;padding: 0;}

section {
    width: 100%;
    margin: auto;
}

section#companies .col-md-4 {
    padding: 1%;
    margin: 1%;
    background: #f7f7f7;
}

section#companies .media-box p {
    margin: 0 !important;
}


table#mptxt td {
    /* padding: 2px 16px; */
    line-height: 10pt;
}

section#contact {
    width: 100%;
    padding: 0;
}

#lg {
    background-color: #FFF;
    width: 100%;
    max-width: 100%;
    }
#weather {
        margin-right: 10px;
    }
